/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 100%;
    overflow-x: hidden;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Rubik Mono One';
    font-size: 4em;
}

.header {
    width: 100%;
    padding: 5%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgreen;
}

.header h1 {
    font-weight: bold;
    color: lightcoral;
    font-size: 6em;
    word-break: break-all;
    text-transform: uppercase;
    position: relative;
}

.header .emoji-shit {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 7em;
    top: 20%;
    right: 30%;
}

h1.blinkend {
    transition: all 500ms ease-in-out;
    bottom: 0;
}

h1.blinkend.rot {
    color: crimson;
    bottom: 4px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}


.header .emoji-old {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 7em;
    bottom: 20%;
    right: 30%;
    transform: rotate(-30deg);
}

.header .emoji-present {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 7em;
    bottom: 0;
    left: 10%;
}

.section-one, .section-two {
    width: 100%;
    height: auto;
    padding-top: 75px;
    text-align: center;
    position: relative;
}

.section-one {
    padding-left: 10%;
    padding-right: 10%;
}

.section-one .invitation {
    font-size:  2em;
    margin-bottom: 0px;
}

.section-one .funday {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 300px;
    height: 40vh;
    background-image: url('../assets/FunDay.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.glocke {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 7em;
    top: 0;
    left: 10%;  
    z-index: 1; 
}
.section-two .save {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: lightcoral;
    padding-top: 30px;
    padding-bottom: 30px;
    color: lightgreen;
    text-shadow: 3px 3px 10px black;
}

.section-two .save .save-text {
    font-size: 7em;
    font-family: 'Rubik Mono One';
}

.section-two .save .save-text {
    font-size: 7em;
    font-family: 'Rubik Mono One';
}

.section-two .save .the {
    font-size: 4em;
    font-family: 'Rubik Mono One';
    word-spacing: -20px;
}

.section-two .save .numbers {
    font-size: 6em;
    letter-spacing: -10px;
    font-family: 'Rubik Mono One';
    word-spacing: -60px;
}

.section-two .save .month {
    font-size: 5em;
    font-family: 'Rubik Mono One';
    word-spacing: -60px;
}

.section-three {
    height: auto;  
}

.section-three .bored {
    padding: 25px 10% 25px 10%;
}

.checkbox-container {
  width: 100vw;
  height: 400px;
  max-height: 450px;
  overflow: hidden;
  margin-bottom: 50px;
}

input[type=checkbox] {
  padding-top: -3px;
}

.section-four {
    padding: 50px 10%;
    margin-top: 50px;
    font-size: 1.4em;
}

.section-five {
    text-align: left;
    padding: 100px;

}

.suitcase {
    max-width: 100%;
}

.section-five ul li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.section-five ul li input {
    position: relative;
    bottom: 3px;
}

.section-six {
 background-color: yellow;
 padding: 50px;
}

.section-six p {
    padding: 3px;
}

.car {
    font-size: 200px; 
    margin-top: -100px;
}

hr {
    width: 100%; 
    height: 10px; 
    color: black;
}

h2 {
    font-size: 30px;
}

ul {
    list-style-type: none;
}

.giphy-embed {
    max-width: 100% !important;
    margin-top: 20px;
}

.karte-fragezeichen {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    display: inline-block;
    position: relative;
}

/*MEDIA QUERY*/
@media screen and (max-width: 600px) {
    .section-two .save .save-text {
        font-size: 6em;
    }

    .section-two .save .save-text {
        font-size: 6em;
    }

    .section-two .save .the {
        font-size: 3em;
    }

    .section-two .save .numbers {
        font-size: 5em;
    }

    .section-two .save .month {
        font-size: 4em;
    }
    .section-five {
        padding: 50px 10px;
    }

}

